@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");


*{
    margin: 0;
    padding: 0
}

html, body {
    width: 100%;
    overflow-x: hidden;
}


body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #0f0f0f;
}

body::-webkit-scrollbar {
    width: 12px;               
}

body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);       
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.578);  
    border-radius: 20px;       
    border: 3px solid rgb(0, 0, 0); 
}

.navbar {
    width: 100%;
    min-height: 100px;
    background-color: #ff000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 0;
    right: 0;
    z-index: 10;
    position: fixed;
    transition: ease 0.5s;
    animation: animacion-1 0.9s ease; 
}

.navbar.scrolled{
    width: 100%;
    background: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar.scrolled .div1-logo-nav {
    display: flex; 
}

.navbar.hidden {
    transform: translateY(-100%);
    background: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.div1-logo-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 100px;
    display: none;
    gap: 15px;
}

.div1-logo-nav img{
    width: 50px;
    height: 50px;
    animation: animacion 0.9s ease;   
}

.svg-nav {
	font-family: "Dancing Script", sans-serif;
	width: 300px; height: 100%;
}

.svg-nav text {
	animation: none ;
	stroke: #ffffff;
	font-size: 50px;
    text-align: left;
}

.navbar .nav-links {
    display: flex;
    gap: 15px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    padding: 20px;
    border-radius: 15px;
    transition: ease 0.4s;
}

.navbar .nav-links a:hover {
    color: #ffffff;
    background-color: #b93c3c;
    transform: translateX(10px);
}


.cssportal-grid {
	width: 100%;
	min-height: 850px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.div1 {
    position: relative;
    width: 100%;
    min-height: 850px;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 2;
    overflow: hidden;
}

@media (max-width: 769px) {
    
    .menu-toggle {
        display: none;
    }

    .navbar.scrolled{
        flex-direction: column;
    }


}


.div1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    
}

.div1 video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    mask-image: url(img/ink_lv2.gif);
    mask-size: cover;
    mask-position: center;
    filter: brightness(66%);
    -webkit-filter: brightness(66%);
    -moz-filter: brightness(66%);
}
.div1-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
}

#logo{
    width: 20%;
}


@keyframes animacion {
    0% {
        opacity: 0.8;
        transform: scale(0.2);
    }
    
    80% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}


svg {
	font-family: "Dancing Script", sans-serif;
	width: 500px; height: 100%;
}
svg text {
	animation: stroke 5s forwards alternate;
	stroke-width: 2;
	stroke: #0190A0;
	font-size: 80px;
    text-align: left;
}
@keyframes stroke {
	0%   {
		fill: rgba(1,144,160,0); stroke: rgb(255, 255, 255);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(1,144,160,0); stroke: rgb(255, 255, 255); }
	80%  {fill: rgba(1,144,160,0); stroke: rgb(255, 255, 255); stroke-width: 3; }
	100% {
		fill: rgb(255, 255, 255); stroke: rgba(1,144,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}


.container-bienvenida {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #0e0e0e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    height: 700px;
    width: 100%;
    padding: 50px 0 50px 0;
}

.contenido-bienvenida {
    max-width: 500px;
}

.contenido-bienvenida h1 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 10px;
}

.contenido-bienvenida p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.5;
}

.imagen {
    width: 450px;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container-bienvenida {
        flex-direction: column;
        text-align: center;
    }

    .imagen {
        max-width: 200px;
    }
}


.container-sobre-nosotros {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #00000022;
}

.container-sobre-nosotros::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(https://images.pexels.com/photos/264502/pexels-photo-264502.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;

    mask-image: url(img/Ink-Brush-PNG-Clipart-Background.png);
    mask-size: cover;
    mask-position: center;
}

.contenido {
    background: rgba(255,255,255,0.2);
    -webkit-backdrop-filter: blur(19px);
    backdrop-filter: blur(19px);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 40px;
    border-radius: 10px;
    max-width: 500px;
}

.contenido h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.contenido p {
    font-size: 1rem;
    line-height: 1.5;
}

.contenido .button-explorar{
    background-color: #b93c3c;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
    padding: 20px;
    border-radius: 15px;
    transition: ease 0.4s;
    cursor: pointer;
    border: none;
    padding: 18px 20px;
}

.contenido .button-explorar:hover {
    color: #ffffff;
    background-color: #b93c3c;
    transform: translateX(10px);
}

.footer {
    background: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
}

.footer-section {
    margin: 20px;
    min-width: 200px;
}

.img-footer {
    width: 20%;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.title-tiendas {
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}

.projects {
    width: 100%;
    min-height: 800px;
    background-color: #0f0f0f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    gap: 20px;
}

.projects .card {
    width: calc(33.33% - 20px);
    max-width: 420px;
    border-radius: 20px;
    overflow: hidden;
    border: none;
    position: relative;
}

.projects .card-img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    border-radius: 15px;
}

.projects .card .card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    filter: grayscale(0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.5s;
    align-items: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: 2;
}

.projects .card:hover .card-body {
    opacity: 1;
}

.projects .card-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    padding: 0;
}

.projects .card-info {
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 15px;
}

.projects .card-btn {
    border: #fff 1px solid;
    color: #ffffff;
    background: #0000005e;
    width: 120px;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    outline: none;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
}

.projects .card-btn:hover {
    color: #000;
    background: #fff;
    border: #fff 1px solid;
}

@media (max-width: 768px) {
    .projects .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .projects .card {
        width: 100%;
    }
}